*{
  margin:0px;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(109 40 217);
  padding: 10px;
  color: rgb(245 243 255);
}

.nav--links{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 30%;
}